@define-color primary #0b0c38;
@define-color secondary #020569;
@define-color wactive #1a1b57;
@define-color winactive #202296;

* {
    font-family: FontAwesome, Ubuntu Mono, sans-serif;
    font-size: 16px;
    font-weight: 900;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 10px;
    background-color: @winactive;
    border-radius: 20px;
    color: #ffffff;
}

#workspaces button.active {
    background-color: @wactive;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#custom-updates,
#clock,
#battery,
#cpu,
#memory,
#pulseaudio,
#tray{
    padding: 2px 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    color: #ffffff;
}

#workspaces {
    margin: 0 4px;
}

#clock {
    background-color: @primary;
}

#custom-updates{
    background-color: @secondary;
    color: #FFFFFF;
}

#pulseaudio {
    background-color: @primary;
    color: #FFFFFF;
}

#cpu {
    background-color: @secondary;
    color: #FFFFFF;
}

#memory {
    background-color: @primary;
}

#battery {
    background-color: @secondary;
    color: #FFFFFF;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #8b0000;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    background-color: #333333;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
